* {
	/*font-family: "Trebuchet MS", sans-serif;*/
	font-family: "Tahoma", sans-serif;

	margin: 0;
	word-wrap: break-word;

	/*https://www.canva.com/colors/color-palettes/rosettes-and-cream/*/
	--spearmint: #B6E2D3;

	/*https://www.canva.com/colors/color-palettes/pastel-dreams/*/
	--mint: #B4F8C8;
	--tiffany-blue: #A0E7E5;

	/*https://www.canva.com/colors/color-palettes/water-foam/*/
	--mint2: #DDFFE7;
	--spearmint2: #98D7C2;
	--teal-green: #167D7F;
	--teal: #29A0B1;

	/*from canva too*/
	--light-orange: #FFD898;
	--dark-orange: #FFC680;
	--neon-green: #A3EBB1;
	--kelly-green: #B1D8B7;
}

html {
	height: 100%;
}

.text-center {
	text-align: center;
}

.textarea {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

[contenteditable] {
	outline: transparent;
}

/*width > height*/
@media screen and (orientation:landscape) {
	header {
		font-size: 3.5vh;
	}

	header button,
	header div {
		font-size: 3vh;
	}

	/* footer {
		font-size: 2.5vh;
	} */

	.item {
		border-radius: 2vh;
	}

	.main_todo_item,
	.main_working_item,
	.main_done_item,
	.sub_todo_item,
	.sub_working_item,
	.sub_done_item {
		min-height: 3vh;
		border-radius: 1vh;
		padding: 1vh 0;
		margin: 1vh 0;
	}

	.textarea {
		min-height: 3vh;
	}

	.round_button {
		width: 4.5vh;
		height: 4.5vh;
	}

	#home_button,
	#save_file,
	#todo_saving_process {
		height: 4vh;
		width: 4vh;
		background-size: 4vh 4vh;
	}

	::-webkit-scrollbar,
	::-webkit-scrollbar-track,
	::-webkit-scrollbar-track-piece {
		width: 1vh;
	}

	::-webkit-scrollbar-thumb {
		border-radius: 1.5vh;
	}

	::-webkit-scrollbar-button {
		visibility: hidden;
		height: 0.5vh;
	}
}

/*height > width*/
@media screen and (orientation:portrait) {
	header {
		font-size: 7vw;
	}

	header button,
	header div {
		font-size: 3vw;
	}

	/* footer {
		font-size: 2.5vw;
	} */

	.item {
		border-radius: 2vw;
	}

	.main_todo_item,
	.main_working_item,
	.main_done_item,
	.sub_todo_item,
	.sub_working_item,
	.sub_done_item {
		min-height: 3vw;
		border-radius: 1vw;
		padding: 1vw 0;
		margin: 1vw;
	}

	.textarea {
		min-height: 3vw;
	}

	.round_button {
		width: 4.5vw;
		height: 4.5vw;
	}

	#home_button,
	#save_file,
	#todo_saving_process {
		height: 4vw;
		width: 4vw;
		background-size: 4vw 4vw;
	}

	::-webkit-scrollbar,
	::-webkit-scrollbar-track,
	::-webkit-scrollbar-track-piece {
		width: 1vw;
	}

	::-webkit-scrollbar-thumb {
		border-radius: 1.5vw;
	}

	::-webkit-scrollbar-button {
		visibility: hidden;
		height: 0.5vw;
	}
}

body {
	display: grid;
	height: 100%;
	grid-template-rows: 10% 85% 5%;
	background-color: var(--mint2);
}

.text {
	font-weight: bold;
}

header,
footer {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--teal-green);
	color: var(--spearmint2);
	font-weight: bold;
}

header a,
footer a {
	color: inherit;
	text-decoration: none;
}

header a:hover,
footer a:hover {
	text-decoration: underline;
}

#first_page {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100%;
}

.content_button {
	border: none;
	background: var(--teal-green);
	color: var(--spearmint2);
	font-weight: bold;
	border-radius: 5px;
	margin: 1% 0;
	padding: 1% 2%;
	cursor: pointer;
}

.content_button label {
	cursor: pointer;
}

.content_button label:hover {
	background: var(--teal);
	color: var(--mint);
}

.content_button:hover {
	background: var(--teal);
	color: var(--mint);
}

button {
	border: none;
	background: var(--teal-green);
	color: var(--spearmint2);
	font-weight: bold;
	border-radius: 5px;
	margin: 1% 0;
	padding: 1% 2%;
	cursor: pointer;
}

button:hover {
	background: var(--teal);
	color: var(--mint);
}

#todo_menu {
	width: 100%;
	display: grid;
	grid-template-columns: 60% 10% 30%;
	align-items: center;
}

#todo_mainmenu {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 0 2%;
}

#todo_filename {
	/*60% of the header is for input, 2% is the padding*/
	inline-size: calc(60vw - 2vw);
	word-wrap: break-word;
	/*background-color: white;*/
}

#todo_submenu {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-evenly;
}

#todo_list {
	height: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr;
	align-items: center;
}

#todo_div,
#working_div,
#done_div {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	overflow-y: auto;
}

/* https://developer.mozilla.org/zh-CN/docs/Web/CSS/::-webkit-scrollbar */
/* https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_custom_scrollbar */

#todo_div::-webkit-scrollbar-thumb {
	background-color: var(--spearmint);
}

#working_div::-webkit-scrollbar-thumb {
	background-color: var(--dark-orange);
}

#done_div::-webkit-scrollbar-thumb {
	background-color: var(--kelly-green);
}

/*
#todo_items, #working_items, #done_items {
}
*/

.main_todo_item,
.main_working_item,
.main_done_item {
	width: 90%;
	height: 100%;
	display: grid;
	grid-template-columns: 10% 70% 10%;
	align-items: center;
	justify-content: space-around;
	font-weight: bold;
}

.sub_todo_item,
.sub_working_item,
.sub_done_item {
	width: 80%;
	height: 100%;
	display: grid;
	grid-template-columns: 5% 65% 10%;
	align-items: center;
	justify-content: space-around;
}

.item {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.main_todo_item {
	background-color: var(--tiffany-blue);
}

.sub_todo_item {
	background-color: var(--spearmint);
}

.main_working_item {
	background-color: var(--light-orange);
}

.sub_working_item {
	background-color: var(--dark-orange);
}

.main_done_item {
	background-color: var(--neon-green);
}

.sub_done_item {
	background-color: var(--kelly-green);
}

.round_button {
	margin: 2% auto;
	border-radius: 50%;
	background-size: 50% 50%;
	opacity: 0.8;
	cursor: pointer;
}

.round_button:hover {
	opacity: 1;
}

#add_main_todo_item {
	background-color: var(--tiffany-blue);
	background-image: url("add.png");
	background-repeat: no-repeat;
	background-position: center;
}

.add_sub_todo_item {
	background-color: var(--spearmint);
	background-image: url("add.png");
	background-repeat: no-repeat;
	background-position: center;
}

#add_main_working_item {
	background-color: var(--light-orange);
	background-image: url("add.png");
	background-repeat: no-repeat;
	background-position: center;
}

.add_sub_working_item {
	background-color: var(--dark-orange);
	background-image: url("add.png");
	background-repeat: no-repeat;
	background-position: center;
}

#add_main_done_item {
	background-color: var(--neon-green);
	background-image: url("add.png");
	background-repeat: no-repeat;
	background-position: center;
}

.add_sub_done_item {
	background-color: var(--kelly-green);
	background-image: url("add.png");
	background-repeat: no-repeat;
	background-position: center;
}

.delete_item {
	background-image: url("delete.png");
}

.move_icon {
	background-image: url("move.png");
}


#pulldrop {
	height: 100%;
	width: 100%;
	background-image: url("dropdown.png");
}

.delete_item,
.move_icon,
#pulldrop {
	height: 80%;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	opacity: 0.5;
	cursor: pointer;
}

.delete_item:hover,
.move_icon:hover,
#pulldrop:hover {
	opacity: 1;
}

#home_button {
	background-image: url("home.png");
	background-repeat: no-repeat;
	background-position: center;
}

#save_file {
	background-image: url("save.png");
	background-repeat: no-repeat;
	background-position: center;
}

#todo_saving_process {
	background-image: url("not_saved.png");
	background-repeat: no-repeat;
	background-position: center;
}

/*useful link for dynamic font https://css-tricks.com/snippets/css/fluid-typography/ */